@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

/* Keep normal browser scrolling */
html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar but keep scrolling enabled */

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}