@import "tailwindcss";

@font-face {
  font-family: "Magilio";
  src: url("./assets/fonts/MagilioRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maghifirea";
  src: url("./assets/fonts/Maghfirea.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.maghifirea {
  font-family: "Maghifirea", serif;
}

@font-face {
  font-family: "CremeEspana";
  src: url("./assets/fonts/CremeEspana.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.creme-espana {
  font-family: "CremeEspana", serif;
}


html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  height: auto;
  scroll-behavior: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: auto;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: auto;
}

main {
  min-height: 100%;
  width: 100%;
  overflow: visible;
}

/* No scroll snapping */
.section {
  overflow: visible;
  scroll-snap-align: none;
  scroll-snap-stop: normal;
}

/* Hide scrollbar but keep scrolling */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}